@import "tailwindcss";

/* تعریف فونت وزیر */
@font-face {
  font-family: 'Vazirmedium';
  src: url('../fonts/Vazir-Medium.eot') format('eot');
  src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* thin */
@font-face {
  font-family: 'Vazir-light';
  src: url('../fonts/Vazir-Light-FD-WOL.eot') format('eot');
  src: url('../fonts/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light-FD-WOL.woff') format('woff2'),
    url('../fonts/Vazir-Light-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-Light-FD-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* اعمال فونت به کل سایت */
* {
  font-family: 'Vazir-light', sans-serif;
}

.vazir-medium {
  font-family: 'Vazirmedium', sans-serif;
}

/* یا فقط برای متن‌های فارسی */
body {
  font-family: 'Vazir-light', sans-serif;
  opacity: 100;
}

/* ==== Animations ==== */

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.delay-1000 {
  animation-delay: 1s;
}

@keyframes right-slow {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-right-slow {
  animation: right-slow 1s ease-in-out forwards;
}

@keyframes ups-slow {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-ups-slow {
  animation: ups-slow 1s ease-in-out forwards;
}

/* ==== Animations ==== */


/* ==== Toast ==== */

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-slide-up {
  animation: slideUp 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.animate-slide-down {
  animation: slideDown 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.animate-ping-slow {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* ==== Toast ==== */