@import "tailwindcss";

/* تعریف فونت وزیر */
@font-face {
  font-family: 'Vazirmedium';
  src: url('../fonts/Vazir-Medium.eot') format('eot');
  src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* thin */
@font-face {
  font-family: 'Vazir-light';
  src: url('../fonts/Vazir-Light-FD-WOL.eot') format('eot');
  src: url('../fonts/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light-FD-WOL.woff') format('woff2'),
    url('../fonts/Vazir-Light-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-Light-FD-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* اعمال فونت به کل سایت */
* {
  font-family: 'Vazir-light', sans-serif;
}

.vazir-medium {
  font-family: 'Vazirmedium', sans-serif;
}

/* یا فقط برای متن‌های فارسی */
body {
  font-family: 'Vazir-light', sans-serif;
}